@if (!loading()) {
<section
  class="grid justify-stretch items-start gap-8 grid-cols-2 md:grid-cols-1 md:gap-6 sm:!gap-4"
>
  <div class="flex justify-center items-center h-auto w-full">
    <img
      src="{{ product().image }}"
      alt="{{ product().id }}"
      class="w-full h-full"
    />
  </div>
  <div class="grid justify-stretch items-center gap-4">
    <div class="grid gap-3">
      <h3 class="font-[700] text-2xl">{{ product().title }}</h3>
      <h6 class="font-[500] text-gray-500 text-lg">
        {{ product().description }}
      </h6>
    </div>
    <h5 class="font-[600] text-lg">EGP {{ product().price }}</h5>

    @if (product().rating.count > 0) {
    <app-primary-button
      class="!w-fit"
      (btnClicked)="cartService.handleAddToCart(product())"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 3h18l-3 9H6L3 3zm3 12a3 3 0 106 0M15 15a3 3 0 106 0"
        />
      </svg>
      Add To Cart
    </app-primary-button>
    }
  </div>
</section>
}@else {
<h3 class="text-2xl font-[600] text-gray-400 text-center">Loading...</h3>
}
