<div
  class="flex flex-col !h-full justify-stretch items-center gap-4 bg-white shadow-lg overflow-hidden relative rounded-lg  p-4"
>
  <img
    src="{{ product().image }}"
    alt="{{ product().id }}"
    class="!h-[200px] !w-[200px] object-contain"
  />
  <div class="grid justify-stretch items-center gap-2 w-full">
    <h3 class="font-[700] text-xl ">{{ product().title }}</h3>
    <h6 class="font-[500] text-md truncate">{{ product().description }}</h6>
    <h5 class="font-[500] text-lg">EGP {{ product().price }}</h5>
    @if (product().stock && product().stock > 0) {
    <app-primary-button
      label="Add To Cart"
      (btnClicked)="cartService.handleAddToCart(product())"
    />
    }
  </div>
</div>
