@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ngxImageZoomContainer {
  width: 100% !important;
  height: auto !important;
}

.ngxImageZoomThumbnail {
  width: 100% !important;
  height: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@layer components{
  .card{
    @apply flex flex-col !h-full content-between justify-stretch items-center gap-6 bg-white shadow-lg overflow-hidden relative rounded-lg p-4 cursor-pointer transition-all hover:translate-y-[-2px] hover:shadow-xl
  }

  .user_item_card{
    @apply flex flex-wrap justify-start items-center gap-2 shadow-md p-4 rounded-md md:p-3 sm:!p-2
  }
}
